<div style="padding:10px; float:right;">

  <% case product.aasm_state %>
  <% when "waitting_for_approval" %>
    <%= link_to("审核通过",
                approve_admin_product_path(product),
                class: "btn btn-default btn-sm", method: :post) %>
    <%= link_to("不合格",
                unapprove_admin_product_path(product),
                class: "btn btn-default btn-sm", method: :post) %>

  <% when "waitting_for_approval" %>
    <span class="label label-default">待审批</span>

  <% end %>

</div>
