/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-datepicker3";



body {
    font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background-color: #f9f9fa;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.1em;
}

/*===== Users 用戶中心 =====*/
.user_setup {
  height: 750px;
  background: image_url("user_background.jpg") no-repeat scroll top center/ cover;
}

.user_setup_content {
  background: #fff;
  margin-top: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #555;
  border-radius: 25px;
  opacity: 0.95;
  filter:alpha(opacity=95);

  h2 {
    text-align: center;
  }

  .psw {
    float: right;
    margin-top: -33px;
    position: relative;
  }

  .account {
    text-align: center;
  }

  .form-inputs {
    margin-top: 25px;
  }

  .form-actions {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;

    .button {
      color: #fff;
      background-color: #4A6BB5;
      border-color: #4A6BB5;
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
    }

    .button:hover {
      background-color: #4A99B5;
      border-color: #4A99B5;
      color: #fff;
    }
  }
}

.account-box {
  background: image_url("account_background.jpg") no-repeat scroll top center/ cover;
}

.account-content {
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #555;
  border-radius: 25px;
  opacity: 0.95;
  filter:alpha(opacity=95);

  h2 {
    text-align: center;
  }

  .form-inputs {
    margin-top: 25px;
  }

  .form-actions {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;

    .button {
      color: #fff;
      background-color: #4A6BB5;
      border-color: #4A6BB5;
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
    }

    .button:hover {
      background-color: #4A99B5;
      border-color: #4A99B5;
      color: #fff;
    }
  }
}
/*===== Product  =====*/
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.product-information {
  margin: -20px 0px 20px 0px;
}
.product {
  background: #F8F9FA;
  float: left;
  margin: 1rem 1.5%;
  border: 1px solid #E4E4E4;
  border-radius: 0.3rem;

  .product_image {
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 0.3rem 0.3rem 0 0;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.075);
      }
    }
  }

  .product_content {
    h2 {
      margin: 0;
      font-weight: 100;
      padding: 1rem 5%;
      border-bottom: 1px solid #E4E4E4;
      font-size: 1.25rem;

      a {
        text-decoration: none;
        color: #333233;

        &:hover {
          color: #50A7C7;
        }
      }
    }

    .data {
      padding: 0.75rem 5%;
      // color: #969696;

      .buttons,
      .username {
        margin: 0;
        font-size: 0.8rem;
      }

      .status {
        float: left;
        font-size: 1.25rem;
      }

      .buttons {
        float: right;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.time {
  font-size: 1.25rem;
  margin-left: 13rem;
}

.list-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.list-image:last-of-type {
  margin-right: 0;
}

.new-product {
  text-align: center;
}
/*===== Control 后台-控制选单 =====*/
.nav-sidebar {
  margin-top: 30px;

  span {
    margin-left: 2.5px;
  }

  li {
    max-width: 250px;
    margin-bottom: 10px;
    padding: 12.5px 15px;
    background-color: #546270;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #44c7f4;
  }
}

.click {
  float: right;
  margin: -40px -27px;
}
/*===== Admin 后台-通用设置 =====*/
.admin-box {
  padding: 25px;

  table {
    box-shadow: 0 0 3px #999;
  }

  thead {
    background-color: #02061A;
    font-size: 16px;
    color: #fff;
  }

  tr {
    border: 1px solid #ccc;
  }

  h2 {
    text-align: center;
    margin-top: 35px;
  }

  a {
    color: #666;
  }

  a:active,
  a:focus,
  a:hover {
    color: #44c7f4;
  }

  .description-box {
    max-width: 550px;
  }

  .admin-like {
        margin: -28px -16px 0px 0px;
  }
  /*===== 操作选项 =====*/
  .action-box {
    min-width: 100px;
    margin-top: -3.5px;
    margin-bottom: -3.5px;

    .show-btn {
      background-color: #eee !important;
    }
  }
  /*===== 按钮设置 =====*/
  .btn-default {
    font-weight: 100;
    padding: 5px 10px;
    background-color: #fff;
    border: 1.5px solid #ccc;
  }

  .btn-info {
    font-weight: 100;
    padding: 5px 10px;
    color: #fff;
  }

  .btn-default:hover {
    opacity: 0.85;
  }

  .btn-info:hover {
    color: #fff;
  }

  .btn-danger {
    font-weight: 100;
    padding: 5px 10px;
    color: #fff;
  }

  .btn-danger:hover {
    color: #fff;
  }
  /*===== 产品顏色设置 =====*/
  .admin-color-circle {
    button {
      border: none;
      outline: none;
      border-radius: 25px;
      color: #ffffff;
      padding: 10px;
      margin: 0 2px;
    }

    button:active {
      outline: none;
    }
  }
  /*===== 换页按钮 =====*/
  .admin-page-box {
    margin-top: 75px;

    a {
      background-color: #ddd;
    }

    a:hover {
      background-color: #ccc;
      color: #666 !important;
    }
  }
}

/*===== 精选商品图示 =====*/
  .chosen-box {
    position: absolute;
    border-radius: 45px;
    top: 22px;
    left: 27px;
    width: 50px;
    height: 50px;
    padding-top: 11px;
    padding-left: 2px;
    color: #fff;
    background-color: #e74c3c;;
    border: 2.5px solid #ecf0f1;
    opacity: 0.85;
    z-index: 1;
  }

  .location {
    top: 15px;
    left: 30px;
  }

/*===== Admin-Form 后台表单设置 =====*/
.admin-data-box {
  hr {
    height: 1.5px;
    background-color: #ccc;
    margin: 30px 0;
  }

  h2 {
    color: #3D537F;
  }

  input {
    height: 40px;
  }

  select {
    height: 35px;
    min-width: 175px;
    margin-bottom: 10px;
    background-color: #fff;
  }

  .hidden-box {
    input {
      height: 16px !important;
    }
    font-size: 16px;
  }
  /*===== 送出按钮 =====*/
  .form-actions {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;

    .btn {
      width: 100%;
      color: #fff;
      background-color: #4A6BB5;
      border-color: #4A6BB5;
      font-size: 16px;
      letter-spacing: 1px;
    }

    .btn:hover {
      background-color: #4A99B5;
      border-color: #4A99B5;
      color: #fff;
    }
  }
}

/*===== 搜索栏 =====*/
.search-box {
  margin-top: 7.5px;

  input {
    height: 35px;
  }

  input:focus {
    border: 2px solid #ccc;
  }

  button {
    background-color: #ddd;
    border: 1.5px solid #ddd;
    padding: 5px 10px;
    height: 35px;
    color: #333;
  }
}

.search-error {
  margin: 150px 0 150px 0;
}


/*===== Comments =====*/
.button {
  color: #397CAC;
  border: 1px solid #397CAC;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  margin-right: 2%;
}
 #comments {
   .comment {
     border-bottom: 1px solid #d1d1d1;
     padding-bottom: 1em;
     margin-bottom: 1em;
     .content {
       width: 75%;
       float: left;
       .signature {
         color: #969696
       }
     }
     .buttons {
       width: 25%;
       float: left;
       font-size: .8em;
       text-align: right;
       padding-top: 1.5em;
       a {
         color: #397CAC;
         border: 1px solid #397CAC;
         padding: .5em 1em;
         border-radius: 0.2em;
         text-decoration: none;
         margin-right: 2%;
       }
     }
     .comment_content {
       margin: 0;
       padding: 0;
     }
     .comment_author {
       color: #397CAC;
       margin-top: .5rem;
       font-size: 0.6em;
       font-weight: 700;
     }
   }

   textarea {
     width: 100%;
     min-height: 200px;
     border: 1px solid #d1d1d1;
     border-radius: .2em;
     margin: 1em, 0;
   }
 }

 .common-block {
     display: block;
     max-width: 960px;
     margin: 20px auto;
     padding-top: 20px;
     padding-bottom: 20px;
     background-color: #fff;
     box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
     letter-spacing: 0;
     border-radius: 10px;
 }
